<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.aarondrew.LatitudeDaemon</string>
 
        <key>ProgramArguments</key>
        <array>
                <string>/Applications/LatitudeSettings.app/LatitudeSettings</string>
                <string>-d</string>
        </array>
 
        <key>OnDemand</key>
        <false/>
 
        <key>StandardErrorPath</key>
        <string>/dev/null</string>
        <!--string>/var/mobile/latitude.err</string-->
 
</dict>
</plist>
